.headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0;
  transition: all 0.5s ease;
  z-index: 2;
  min-height: 5vh;
}
.logoContainer {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: var(--main-font-color);
}
.logoText {
  align-self: center;
}
.logo {
  width: 50px;
}

.controlContainer {
  display: flex;
  align-self: center;
  padding: 8px;
  gap: 16px;
}
.reducedHeader {
  background-color: var(--header-small-bg-color);
  padding-top: 8px;
  padding-bottom: 8px;
}

.button {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border: 0.5px solid var(--button-border-color);
  border-radius: 4px;
  margin-right: 5px;
}
.button:hover {
  background-color: var(--button-bg-hover-color);
}
.buttonsContainer {
  display: flex;
}
