.welcomeHeader {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 20px;
}

.welcomePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 90vh;
}

.welcomePageBtn {
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.descriptionLink {
  font-weight: bold;
  text-align: center;
}
.link {
  text-decoration: none;
  color: var(--link-text-color);
}
.link:hover {
  color: var(--link-text-hover-color);
}
