:root {
  font-family: system-ui, sans-serif;

  --main-font-color: #ffffff;
  --main-font-hover-color: #b0b0b0;
  --main-bg-color: #09161c;
  --footer-bg-color: #222d33;
  --error-message-color: #ff1313;

  --TextField-border-color: #aaaaaa;
  --TextField-border-hover-color: #7b7b7b;
  --TextField-border-focused-color: #2a2a2a;
  --label-font-color: #b0b0b0;
  --label-font-focused-color: #808080;

  --header-bg-color: #3a464d;
  --header-small-bg-color: #46494b;

  --white: #ffffff;
  --gray: #808080;
  --green: #008000;
  --brown: #a52a2a;

  color: var(--main-font-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
