:root {
  font-family: system-ui, sans-serif;

  --main-font-color: #ffffff;
  --main-font-hover-color: #b0b0b0;
  --main-bg-color: #09161c;
  --footer-bg-color: #222d33;

  --header-bg-color: #3a464d;
  --header-small-bg-color: #222d33;

  color: var(--main-font-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  position: relative;
}
